{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <!-- <div class="screen-header-button close"></div> -->
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACT US</span>
            </div>
            <div class="app-contact">
              <p>Email Us: <a href="mailto:hello@allcrypto24.com" class="contact-info">hello@allcrypto24.com</a><br/></p>
              <p>Call Us: <a href="tel:7187721891" class="contact-info"> +1 718-772-1891</a></p>
            </div>
          </div>
          <div class="screen-body-item">
             <!--<div class="app-form">
              <div class="app-form-group">
                <input class="app-form-control" placeholder="NAME" value="">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="EMAIL">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="CONTACT NO">
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" placeholder="MESSAGE">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button">SEND</button>
              </div>
            </div>-->
            <div style="width: 100%;">
              <iframe style=" border-radius: 5px;" width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=en&amp;q=300%20Madison%20Ave+(allcrypto24)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                <a href="https://www.maps.ie/distance-area-calculator.html">measure distance on map</a></iframe>
            </div>
          </div> 
        </div>
      </div>

    </div>
  </div>
  

{% endblock %}